[submodule "dslvgl/meta/lvgl"]
	path = dslvgl/source/common/lvgl
	url = https://github.com/lvgl/lvgl.git

[submodule "dslvgl_demo/arm9/source/lvgl"]
	path = dslvgl_demo/arm9/source/lvgl
	url = https://github.com/lvgl/lvgl.git
